<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BarRaider.SDScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BarRaider.SDScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BarRaider.SDScreenSaver.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SleepMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="FlipHorizontal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlipVertical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockBrightness" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="UnlockBrightness" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="AnimatedGifDelayMS" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ScreenSaverMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VisualEffect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EffectVariance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EffectColor" serializeAs="String">
                <value>#00FF00</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Chaos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FolderRefreshTime" serializeAs="String">
                <value>0</value>
            </setting>
        </BarRaider.SDScreenSaver.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BarRaider.SDScreenSaver.Properties.Settings>
            <setting name="StreamDeckRows" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StreamDeckCols" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KeyPixels" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="KeyBuffer" serializeAs="String">
                <value>20</value>
            </setting>
        </BarRaider.SDScreenSaver.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommandLine" publicKeyToken="5a870481e358d379" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.2" newVersion="4.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>